.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  color: #343;
  
}

.container a {color: black; text-decoration: underline;  text-decoration-color: red;}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.main svg {
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}

.title {
  font-size: 4rem;
}

.description {
  line-height: 2.0;
  font-size: 1.5rem;
}

.title, 
.description, 
.icon {
  text-align: center;
}

.fb {
  color: rgb(109,132,180);
}

.linkedIn {
  color:  rgb(0,119,181);
}
.twitter {
  color: rgb(0,172,237);
}
.instagram {
  color: rgb(207,96,226);
}

a.yankees {
  color: #0B1F46;
  text-decoration-color: #C5C3C4;
}
a.jets {
  color: #09563D;
  text-decoration-color: black;
}

a.nets {
  color: black;
  text-decoration-color: black;
}


a.cuse {
  color: #D44501;
  text-decoration-color:#072F6C;
}

a.whu {
  color: #7D2838;
  text-decoration-color: #00B1E7;
}

@media (max-width: 600px) {
  .main {
    justify-content: flex-start;
    padding: 1rem 0;
    width: 95%;
  }
}
